.dub
docs.json
dub.selections.json
__dummy.html
docs/
/vktest
vktest.so
vktest.dylib
vktest.dll
vktest.a
vktest.lib
vktest-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

out/

*.spv

# Python generated shenanigans.
__*__

# Ignore for now
dlsl-gen